* {
    padding: 0;
    margin: 0;
}

html{
    background-color: #616161;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    display: grid;
    /* meter aquí cosas del grid */

}

header {
    background-color: #c01515;
    color:white;
    text-align: center;
    /* background-image: url(assets/banner.png); */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}

#galery {
    display: flex;
    justify-content: center;
}

#cry {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#container {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    width: 50%;
}

audio {
    margin-top: 30px;
    margin-bottom: 30px;
}

#stats {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
}

#tabla{
    display: flex;
    justify-content: center;
}
