* {
    padding: 0;
    margin: 0;
}

html{
    background-color: #616161;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    /* meter aquí cosas del grid */

}

header {
    background-color: #c01515;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    /* background-image: url(assets/banner.png); */
    height: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}

#galery {
    display: flex;
    justify-content: center;
}

#audiocry {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#container {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    width: 50%;
    /* Oculto al cargar la página */
    display: none;
}

audio {
    margin-top: 30px;
    margin-bottom: 30px;
}

#stats {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
}

#tabla{
    display: flex;
    justify-content: center;
}

#mainMsg, #badName {
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin-top: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

#badName {
    display: none;
}
